body {
  font-family: "Nunito";
  font-size: 22px;
  overflow: auto;
}

.content {
  height: 100vh;
  padding: 0;
  position: relative;
}

.vn-eng {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding-top: 20px;
}

.image-vn-eng {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  height: 90px;
}

.header {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 70px;
  padding-bottom: 20px;
  display: flex;
}

.avatar {
  display: flex;
  border: 1px solid #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.67);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: -50px;
  background: #fff;
}

.avatar img {
  border-radius: 50%;
  object-fit: contain;
  height: 100px;
  width: 100px;
}

.header__content__container {
  display: flex;
  /* background: #e7ebf1; */
  background: #f1f0e8;
  border-radius: 4px;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.content__container {
  justify-content: center;
  padding-top: 60px;
  display: flex;
}

.content__container span {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.contract__container {
  flex-direction: column;
  padding: 15px;
  display: flex;
}

.contract__container span,
a {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.contract__container span:not(:last-child) {
  margin-bottom: 7px;
}

.hr {
  width: 100%;
  height: 1px;
  background: #fff;
}

.title-company {
  text-transform: uppercase;
  color: red !important;
  font-size: 14px !important;
  font-weight: 700 !important;
}

.headquarters {
  padding-top: 10px;
  color: red !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.flex-content {
  display: flex;
}

.pd-left {
  padding-left: 5px;
}

.btn-save {
  width: 90%;
  text-transform: uppercase;
  color: #333;
  padding: 8px 0px;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e7ebf1;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ===============Employee=============== */
.container-employee {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-the-nhan-vien {
  position: relative;
  height: 758px;
  width: 480px;
  background-image: url("/static/images/the-nhan-vien.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-employee {
  position: absolute;
  top: 27%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-employee .img__employee {
  width: 180px;
  height: 190px;
  object-fit: contain;
}

.content-name {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: red;
  max-width: 350px;
  text-align: center;
}

.content-deparment {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
  max-width: 350px;
  text-align: center;
}

.content-qr-code {
  padding-top: 20px;
}

.content-userId {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
}
